/* Gallery styles */


.gallery {

    padding: 24px 0px 24px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    max-width: 1128px;
  }
  
  .gallery-item {
    padding: 0;
    margin: 0;
  }
  
  /* .gallery-link {} */
  
  .gallery-image {
    display: block;
    padding: 0;
    margin: 0;
    width: 360px;
    height: 200px;
  }
  
  
  .wrapper{
    background: rgba(46, 47, 66, 0.80);
  
  }
  
  body .sl-wrapper .sl-counter{
    color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
  }